body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
}

.logo {
    width: 120px;
    height: 100px;
    margin-top: 15px;
}

h1,
h3 {
    color: gray;
}

.big {
    width: 100%;
}

h2 {
    color: #BCBBBB;
}

.saprator {
    border-top: 3px solid #7d97ad;
}

.project-image {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.project-image-modal {
    width: 600px;
    height: 300px;
}